body {
    background-color: lightblue;
}


h1  {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    size: ;
    padding: auto;
}

